<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    #app {
        width: 600px;
        margin: 10px auto;
    }

    .tb {
        border-collapse: collapse;
        width: 100%;
    }

    .tb th {
        background-color: #0094ff;
        color: white;
    }

    .tb td,
    .tb th {
        padding: 5px;
        border: 1px solid black;
        text-align: center;
    }

    .add {
        padding: 5px;
        border: 1px solid black;
        margin-bottom: 10px;
    }
</style>

<body>
    <div id="app">
        <div class="add">
            品牌名称:
            <input type="text" v-model="itemname" ref='ref'>
            <input :disabled="itemname.length===0" type="button" value="添加" @click="addItem()">

        </div>

        <div class="add">
            品牌名称:
            <input type="text" v-model="searchVal" placeholder="请输入搜索条件">
        </div>

        <div>
            <table class="tb">
                <tr>
                    <th>编号</th>
                    <th>品牌名称</th>
                    <th>创立时间</th>
                    <th>操作</th>
                </tr>
                <tr v-for="(v,i) in list" ::key="i">
                    <td>{{v.id}}</td>
                    <td>{{v.name}}</td>
                    <td>{{v.date | fmtDate}}</td>
                    <td>
                        <a href="#" @click.prevent="delItem(v.id)">删除</a>
                    </td>
                </tr>
                <tr v-if="list.length === 0">
                    <td colspan="4">没有品牌数据</td>
                </tr>
            </table>
        </div>

    </div>

    <script src="../moment.js"></script>
    <script src="../vue.js"></script>
    <script src="../axios.js"></script>
    <script>
        // 定义全局过滤器
        Vue.filter('fmtDate', (v) => {
            return moment(v).format('YYYY-MM-DD hh:mm:ss')
        })
        /*实例化vue对象*/
        new Vue({
            el: '#app',
            data: {
                list: [],
                itemname: '',
                searchVal: '',
            },
            mounted() {
                this.$refs.ref.focus()
                this.getAllBrands()
            },
            methods: {
                getAllBrands() {
                    axios.get('http://localhost:3000/brands')
                        .then(res => {
                            const {
                                status,
                                data
                            } = res
                            if (status == 200) {
                                this.list = data
                            }
                        })
                },
                addItem() {
                    axios.post('http://localhost:3000/brands', {
                        name: this.itemname,
                        date: new Date()
                    }).then(res => {
                        const {
                            status
                        } = res
                        if (status === 201) {
                            this.getAllBrands()
                        }
                    })
                },

                delItem(ID) {
                    axios.delete('http://localhost:3000/brands/' + ID)
                        .then((res) => {
                            const {
                                status,
                                data
                            } = res;
                            if (status == 200) {
                                this.getAllBrands()
                            }
                        })

                }
            },
            // 当监测的属性发生变化时，该方法会被调用
            watch: {
                //当searchVal这个值发生变化时则调用方法
                searchVal(newV, oldV) {
                    axios
                        .get('http://localhost:3000/brands?name_like=' + newV) //name_like模糊搜索
                        .then((res) => {
                            this.list = res.data
                        })
                }
            },
            computed: {

            }
        })
    </script>
</body>

</html>